@model IEnumerable<SimpleBlog.Models.Post>

<div class="jumbotron">
    <h1>@Resources.BlogTitle</h1>
    <p>@Resources.BlogDescription</p>
</div>

<div class="row">
    @if (Model == null || Model.Count() == 0)
    {
        <p>@Resources.NoPosts</p>
    }
    else
    {
        foreach (var item in Model)
        {
            @item.Title;
        }
    }
</div>